---
BasedOnStyle: WebKit
AlignAfterOpenBracket: AlwaysBreak
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: true
NamespaceIndentation: All
BreakBeforeBraces: Stroustrup
ColumnLimit: 120
PenaltyReturnTypeOnItsOwnLine: 200
PenaltyIndentedWhitespace: 1
PointerAlignment: Right
AllowShortFunctionsOnASingleLine: None
...
